# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .env files containing environment variables
.env

# Ignore any other files or directories you want to exclude from version control
